#main-menu{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
#main-menu li a{
  color: black;
  display: block;
  text-decoration: none;
  height: 44px;
}
.child{
  margin: 10px 20px;
}
#main-menu ul.sub-menu{
  position: absolute;
  background-color: black;
  list-style: none;
  width: 300px;
  border-top: 1px solid red ;
  display: none;
}
#main-menu li:hover ul.sub-menu{
  display: block;
}
.last-child a{
  margin-left: -32px;
  padding: 5px 0px;
  line-height: 54px;
  justify-content: center;
  z-index: 1;
}
.sub-control{
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: none
}
.menu-control{
  margin: 10px;
}